In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import seaborn as sns

In [3]:
math_data = pd.read_csv('./data/student-alcohol-consumption/student-mat.csv')
port_data = pd.read_csv('./data/student-alcohol-consumption/student-por.csv')

In [4]:
math_data.shape, port_data.shape

((395, 33), (649, 33))

In [5]:
math_data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [6]:
port_data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [7]:
port_data['subject']='P'
math_data['subject']='M'

In [8]:
port_data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,4,0,11,11,P
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,2,9,11,11,P
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,6,12,13,12,P
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,0,14,14,14,P
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,0,11,13,13,P

In [9]:
math_data.info(),port_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 34 columns):
school        395 non-null object
sex           395 non-null object
age           395 non-null int64
address       395 non-null object
famsize       395 non-null object
Pstatus       395 non-null object
Medu          395 non-null int64
Fedu          395 non-null int64
Mjob          395 non-null object
Fjob          395 non-null object
reason        395 non-null object
guardian      395 non-null object
traveltime    395 non-null int64
studytime     395 non-null int64
failures      395 non-null int64
schoolsup     395 non-null object
famsup        395 non-null object
paid          395 non-null object
activities    395 non-null object
nursery       395 non-null object
higher        395 non-null object
internet      395 non-null object
romantic      395 non-null object
famrel        395 non-null int64
freetime      395 non-null int64
goout         395 non-null int64
Dalc          395 non-null int64
Walc          395 non-null int64
health        395 non-null int64
absences      395 non-null int64
G1            395 non-null int64
G2            395 non-null int64
G3            395 non-null int64
subject       395 non-null object
dtypes: int64(16), object(18)
memory usage: 105.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 34 columns):
school        649 non-null object
sex           649 non-null object
age           649 non-null int64
address       649 non-null object
famsize       649 non-null object
Pstatus       649 non-null object
Medu          649 non-null int64
Fedu          649 non-null int64
Mjob          649 non-null object
Fjob          649 non-null object
reason        649 non-null object
guardian      649 non-null object
traveltime    649 non-null int64
studytime     649 non-null int64
failures      649 non-null int64
schoolsup     649 non-null object
famsup        649 non-null object
paid          649 non-null object
activities    649 non-null object
nursery       649 non-null object
higher        649 non-null object
internet      649 non-null object
romantic      649 non-null object
famrel        649 non-null int64
freetime      649 non-null int64
goout         649 non-null int64
Dalc          649 non-null int64
Walc          649 non-null int64
health        649 non-null int64
absences      649 non-null int64
G1            649 non-null int64
G2            649 non-null int64
G3            649 non-null int64
subject       649 non-null object
dtypes: int64(16), object(18)
memory usage: 172.5+ KB

(None, None)

In [10]:
total_data = pd.concat(objs=[math_data, port_data],axis=0)

In [11]:
total_data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3', 'subject'],
      dtype='object')

In [12]:
total_data.corr()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
age,1.000000,-0.130196,-0.138521,0.049216,-0.007870,0.282364,0.007162,0.002645,0.118510,0.133453,0.098291,-0.029129,0.153196,-0.124121,-0.119475,-0.125282
Medu,-0.130196,1.000000,0.642063,-0.238181,0.090616,-0.187769,0.015004,0.001054,0.025614,0.001515,-0.029331,-0.013254,0.059708,0.226101,0.224662,0.201472
Fedu,-0.138521,0.642063,1.000000,-0.196328,0.033458,-0.191390,0.013066,0.002142,0.030075,-0.000165,0.019524,0.034288,0.040829,0.195898,0.182634,0.159796
traveltime,0.049216,-0.238181,-0.196328,1.000000,-0.081328,0.087177,-0.012578,-0.007403,0.049740,0.109423,0.084292,-0.029002,-0.022669,-0.121053,-0.140163,-0.102627
studytime,-0.007870,0.090616,0.033458,-0.081328,1.000000,-0.152024,0.012324,-0.094429,-0.072941,-0.159665,-0.229073,-0.063044,-0.075594,0.211314,0.183167,0.161629
failures,0.282364,-0.187769,-0.191390,0.087177,-0.152024,1.000000,-0.053676,0.102679,0.074683,0.116336,0.107432,0.048311,0.099998,-0.374175,-0.377172,-0.383145
famrel,0.007162,0.015004,0.013066,-0.012578,0.012324,-0.053676,1.000000,0.136901,0.080619,-0.076483,-0.100663,0.104101,-0.062171,0.036947,0.042054,0.054461
freetime,0.002645,0.001054,0.002142,-0.007403,-0.094429,0.102679,0.136901,1.000000,0.323556,0.144979,0.130377,0.081517,-0.032079,-0.051985,-0.068952,-0.064890
goout,0.118510,0.025614,0.030075,0.049740,-0.072941,0.074683,0.080619,0.323556,1.000000,0.253135,0.399794,-0.013736,0.056142,-0.101163,-0.108411,-0.097877
Dalc,0.133453,0.001515,-0.000165,0.109423,-0.159665,0.116336,-0.076483,0.144979,0.253135,1.000000,0.627814,0.065515,0.132867,-0.150943,-0.131576,-0.129642
Walc,0.098291,-0.029331,0.019524,0.084292,-0.229073,0.107432,-0.100663,0.130377,0.399794,0.627814,1.000000,0.106669,0.139703,-0.142401,-0.128114,-0.115740
health,-0.029129,-0.013254,0.034288,-0.029002,-0.063044,0.048311,0.104101,0.081517,-0.013736,0.065515,0.106669,1.000000,-0.027479,-0.060478,-0.088001,-0.080079
absences,0.153196,0.059708,0.040829,-0.022669,-0.075594,0.099998,-0.062171,-0.032079,0.056142,0.132867,0.139703,-0.027479,1.000000,-0.092425,-0.089332,-0.045671
G1,-0.124121,0.226101,0.195898,-0.121053,0.211314,-0.374175,0.036947,-0.051985,-0.101163,-0.150943,-0.142401,-0.060478,-0.092425,1.000000,0.858739,0.809142
G2,-0.119475,0.224662,0.182634,-0.140163,0.183167,-0.377172,0.042054,-0.068952,-0.108411,-0.131576,-0.128114,-0.088001,-0.089332,0.858739,1.000000,0.910743
G3,-0.125282,0.201472,0.159796,-0.102627,0.161629,-0.383145,0.054461,-0.064890,-0.097877,-0.129642,-0.115740,-0.080079,-0.045671,0.809142,0.910743,1.000000

In [13]:
duplicated_data = total_data[total_data.duplicated(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences',],keep=False)]

In [14]:
duplicated_data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,1,1,3,0,12,12,11,M
14,GP,M,15,U,GT3,A,2,2,other,other,...,5,2,1,1,3,0,14,16,16,M
20,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,1,1,1,1,0,13,14,15,M
21,GP,M,15,U,GT3,T,4,4,health,health,...,4,2,1,1,5,0,12,15,15,M
30,GP,M,15,U,GT3,T,4,4,health,services,...,4,2,3,4,5,0,9,11,12,M

In [15]:
duplicated_data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,1,1,3,0,12,12,11,M
14,GP,M,15,U,GT3,A,2,2,other,other,...,5,2,1,1,3,0,14,16,16,M
20,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,1,1,1,1,0,13,14,15,M
21,GP,M,15,U,GT3,T,4,4,health,health,...,4,2,1,1,5,0,12,15,15,M
30,GP,M,15,U,GT3,T,4,4,health,services,...,4,2,3,4,5,0,9,11,12,M
32,GP,M,15,R,GT3,T,4,3,teacher,at_home,...,5,2,1,1,5,0,17,16,16,M
33,GP,M,15,U,LE3,T,3,3,other,other,...,3,2,1,1,2,0,8,10,12,M
41,GP,M,15,U,LE3,T,4,4,teacher,other,...,4,3,2,4,5,8,12,12,12,M
43,GP,M,15,U,GT3,T,2,2,services,services,...,4,1,1,1,1,0,8,8,11,M
44,GP,F,16,U,LE3,T,2,2,other,at_home,...,3,3,2,2,5,14,10,10,9,M
64,GP,F,15,U,LE3,T,4,3,services,services,...,4,4,2,4,2,0,10,10,10,M
65,GP,F,16,U,LE3,T,4,3,teacher,services,...,4,3,1,2,1,2,16,15,15,M
71,GP,M,15,U,GT3,T,4,2,other,other,...,3,3,1,1,3,0,10,10,10,M
84,GP,F,15,U,GT3,T,1,1,other,other,...,3,2,2,3,4,2,9,10,10,M
87,GP,F,15,U,GT3,T,4,2,other,other,...,3,3,1,3,1,4,13,14,14,M
101,GP,M,16,U,GT3,T,4,4,services,teacher,...,4,3,1,1,4,0,16,17,17,M
105,GP,F,15,U,GT3,A,3,3,other,health,...,3,3,1,1,4,10,10,11,11,M
113,GP,M,15,U,LE3,T,4,2,teacher,other,...,5,2,1,1,3,10,18,19,19,M
126,GP,F,15,U,LE3,A,3,4,other,other,...,3,2,1,1,1,0,7,10,11,M
151,GP,M,16,U,LE3,T,2,1,at_home,other,...,4,4,3,5,5,6,12,13,14,M
154,GP,F,17,U,GT3,T,4,4,other,teacher,...,2,1,1,1,4,0,11,11,12,M
157,GP,F,18,R,GT3,T,1,1,at_home,other,...,2,5,1,5,4,6,9,8,10,M
177,GP,M,17,U,GT3,T,3,3,other,other,...,3,4,1,4,4,4,6,5,6,M
182,GP,F,17,U,GT3,T,2,4,services,services,...,4,2,2,3,5,0,16,17,17,M
191,GP,F,17,U,GT3,T,1,1,at_home,services,...,3,3,1,1,3,0,8,8,9,M
194,GP,M,16,U,GT3,T,2,3,other,other,...,3,3,1,1,3,0,13,14,14,M
196,GP,M,17,U,GT3,T,4,4,services,teacher,...,2,3,1,2,5,4,17,15,16,M
200,GP,F,16,U,GT3,T,4,3,health,other,...,3,5,1,5,2,2,16,16,16,M
238,GP,F,17,R,GT3,T,2,1,at_home,services,...,1,1,1,1,3,2,13,11,11,M
254,GP,M,17,R,GT3,T,2,1,other,other,...,4,2,2,4,5,0,8,12,12,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44,GP,F,16,U,LE3,T,2,2,other,at_home,...,3,3,2,2,5,14,10,11,11,P
64,GP,F,15,U,LE3,T,4,3,services,services,...,4,4,2,4,2,0,13,12,12,P
65,GP,F,16,U,LE3,T,4,3,teacher,services,...,4,3,1,2,1,2,16,15,16,P
71,GP,M,15,U,GT3,T,4,2,other,other,...,3,3,1,1,3,0,11,9,10,P
84,GP,F,15,U,GT3,T,1,1,other,other,...,3,2,2,3,4,2,13,12,12,P
87,GP,F,15,U,GT3,T,4,2,other,other,...,3,3,1,3,1,4,15,15,15,P
101,GP,M,16,U,GT3,T,4,4,services,teacher,...,4,3,1,1,4,0,16,16,16,P
105,GP,F,15,U,GT3,A,3,3,other,health,...,3,3,1,1,4,10,10,10,10,P
113,GP,M,15,U,LE3,T,4,2,teacher,other,...,5,2,1,1,3,10,18,17,18,P
126,GP,F,15,U,LE3,A,3,4,other,other,...,3,2,1,1,1,0,10,11,11,P
164,GP,M,16,U,LE3,T,2,1,at_home,other,...,4,4,3,5,5,6,9,10,10,P
167,GP,F,17,U,GT3,T,4,4,other,teacher,...,2,1,1,1,4,0,13,13,13,P
170,GP,F,18,R,GT3,T,1,1,at_home,other,...,2,5,1,5,4,6,11,10,11,P
191,GP,M,17,U,GT3,T,3,3,other,other,...,3,4,1,4,4,4,11,9,10,P
196,GP,F,17,U,GT3,T,2,4,services,services,...,4,2,2,3,5,0,17,18,17,P
205,GP,F,17,U,GT3,T,1,1,at_home,services,...,3,3,1,1,3,0,12,11,12,P
208,GP,M,16,U,GT3,T,2,3,other,other,...,3,3,1,1,3,0,13,12,12,P
210,GP,M,17,U,GT3,T,4,4,services,teacher,...,2,3,1,2,5,4,13,13,14,P
214,GP,F,16,U,GT3,T,4,3,health,other,...,3,5,1,5,2,2,14,14,15,P
261,GP,F,17,R,GT3,T,2,1,at_home,services,...,1,1,1,1,3,2,13,13,13,P
286,GP,M,17,R,GT3,T,2,1,other,other,...,4,2,2,4,5,0,12,12,13,P
375,GP,F,17,U,LE3,T,0,2,at_home,at_home,...,3,3,2,3,2,0,14,14,15,P
389,GP,F,18,U,LE3,T,2,2,other,other,...,3,3,1,1,2,0,10,9,12,P
580,MS,M,19,R,GT3,T,1,1,other,other,...,4,4,3,3,5,4,8,9,10,P
613,MS,F,18,U,GT3,T,3,3,services,services,...,3,4,1,1,5,0,10,10,10,P
617,MS,F,18,U,LE3,T,1,1,at_home,services,...,3,2,1,1,4,0,19,17,18,P
621,MS,F,17,R,GT3,T,1,2,other,services,...,2,2,1,2,3,0,13,13,13,P
628,MS,F,17,U,GT3,T,2,2,other,at_home,...,4,3,1,1,3,8,10,11,12,P
630,MS,F,18,R,LE3,T,4,4,other,other,...,4,4,1,1,1,0,15,17,17,P
639,MS,M,19,R,GT3,T,1,1,other,services,...,3,2,1,3,5,0,5,8,0,P

In [16]:
# duplicated_data[(duplicated_data['school']=='GP') & (duplicated_data['sex']=='M') &
#                (duplicated_data['address']=='U') & (duplicated_data['Pstatus']=='T') & 
#                (duplicated_data['famsize']=='LE3')]

In [18]:
def colum_rearange(data):
    
    data["alc_total"] = (data.Dalc*5 + data.Walc*2)
    data["alc_average"] = (data.Dalc*5 + data.Walc*2)/7
    data["score_average"] = (data.G1 + data.G2 + data.G3)/3
    data["score_total"] = (data.G1 + data.G2 + data.G3)
    
    return data

In [19]:
total_data = colum_rearange(total_data.copy())

In [20]:
total_data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,health,absences,G1,G2,G3,subject,alc_total,alc_average,score_average,score_total
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,6,5,6,6,M,7,1.000000,5.666667,17
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,4,5,5,6,M,7,1.000000,5.333333,16
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,10,7,8,10,M,16,2.285714,8.333333,25
3,GP,F,15,U,GT3,T,4,2,health,services,...,5,2,15,14,15,M,7,1.000000,14.666667,44
4,GP,F,16,U,GT3,T,3,3,other,other,...,5,4,6,10,10,M,9,1.285714,8.666667,26

In [24]:
total_data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3', 'subject', 'alc_total',
       'alc_average', 'score_average', 'score_total'],
      dtype='object')

In [29]:
total_data['school'].value_counts()

GP    772
MS    272
Name: school, dtype: int64

In [30]:
def column_unique(data):
    unique_dict={}
    count_dict={}
    for column in data.columns:
        unique_dict[column] =  data[column].unique()
        count_dict[column] =  data[column].value_counts()
    
    return unique_dict, count_dict

In [31]:
unique_dict, count_dict = column_unique(total_data)

In [42]:
count_dict["Medu"]

4    306
2    289
3    238
1    202
0      9
Name: Medu, dtype: int64

In [35]:
total_data.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,alc_total,alc_average,score_average,score_total
count,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000
mean,16.726054,2.603448,2.387931,1.522989,1.970307,0.264368,3.935824,3.201149,3.156130,1.494253,2.284483,3.543103,4.434866,11.213602,11.246169,11.341954,12.040230,1.720033,11.267241,33.801724
std,1.239975,1.124907,1.099938,0.731727,0.834353,0.656142,0.933401,1.031507,1.152575,0.911714,1.285105,1.424703,6.210017,2.983394,3.285071,3.864796,6.488304,0.926901,3.218805,9.656416
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,7.000000,1.000000,1.333333,4.000000
25%,16.000000,2.000000,1.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,9.000000,9.000000,10.000000,7.000000,1.000000,9.333333,28.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,2.000000,11.000000,11.000000,11.000000,9.000000,1.285714,11.333333,34.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,6.000000,13.000000,13.000000,14.000000,15.250000,2.178571,13.333333,40.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000,35.000000,5.000000,19.333333,58.000000

In [43]:
total_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1044 entries, 0 to 648
Data columns (total 38 columns):
school           1044 non-null object
sex              1044 non-null object
age              1044 non-null int64
address          1044 non-null object
famsize          1044 non-null object
Pstatus          1044 non-null object
Medu             1044 non-null int64
Fedu             1044 non-null int64
Mjob             1044 non-null object
Fjob             1044 non-null object
reason           1044 non-null object
guardian         1044 non-null object
traveltime       1044 non-null int64
studytime        1044 non-null int64
failures         1044 non-null int64
schoolsup        1044 non-null object
famsup           1044 non-null object
paid             1044 non-null object
activities       1044 non-null object
nursery          1044 non-null object
higher           1044 non-null object
internet         1044 non-null object
romantic         1044 non-null object
famrel           1044 non-null int64
freetime         1044 non-null int64
goout            1044 non-null int64
Dalc             1044 non-null int64
Walc             1044 non-null int64
health           1044 non-null int64
absences         1044 non-null int64
G1               1044 non-null int64
G2               1044 non-null int64
G3               1044 non-null int64
subject          1044 non-null object
alc_total        1044 non-null int64
alc_average      1044 non-null float64
score_average    1044 non-null float64
score_total      1044 non-null int64
dtypes: float64(2), int64(18), object(18)
memory usage: 318.1+ KB

In [415]:
numeric_column = ['age','failures','absences','G1','G2','G3','score_average'] 
# ,'score_average','score_total'을 독립 변수로 우선 간주(단, Standard 스케일을 하기에 둘중 하나만 선택)

categoric_column = ['Medu' ,'Fedu', 'Mjob', 'Fjob','reason' ,'guardian']

ordinal_column = ['traveltime', 'studytime','famrel','freetime','goout','Dalc','Walc','health']

binary_column = ['school','sex','address', 'famsize', 'Pstatus','schoolsup','famsup','paid', 'activities', 'nursery' ,'higher',
                'internet', 'romantic', 'subject']

other_column  = ['alc_total','alc_average'] # 타겟값 칼럼 (학생의 개인적, 학업적, 가족 및 사회적 영향이 음주에 미치는 영향)

# Train_test split

In [416]:
from sklearn.model_selection import train_test_split

In [417]:
train_set, test_set = train_test_split(total_data, test_size = 0.2, random_state = 42)

In [418]:
train_set=train_set.reset_index()
train_set.rename(columns={'index' : 'ID'},inplace=True)

test_set=test_set.reset_index()
test_set.rename(columns={'index' : 'ID'},inplace=True)

In [419]:
train_id = train_set.ID
test_id = test_set.ID

In [420]:
train_index = train_set.index
test_index = test_set.index

# Preprocessing

In [421]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import Binarizer
from sklearn.preprocessing import LabelBinarizer
from sklearn.preprocessing import LabelEncoder

In [422]:
from sklearn.base import BaseEstimator, TransformerMixin

class DataFrameSelector(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_names):
        self.attribute_names = attribute_names
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        return X[self.attribute_names]

In [423]:
class MyLabelBinarizer(BaseEstimator, TransformerMixin):#LabelBinarizer Pipline 지원 안함  0.19버전 부터
    def __init__(self,  attribute_names): 
        self.encoder_dict = {}
#         self.encoder = LabelBinarizer()
        self.attribute_names = attribute_names
        
        
    def fit(self, X, y=None):
        for attribute in self.attribute_names:
            lb = LabelBinarizer()
            self.encoder_dict[attribute] = lb.fit(X.loc[:, attribute])
            
#             self.encoder.fit(X)
        return self
    def transform(self, X, y=None):
        X = X[self.attribute_names]
        for col_index,attribute in enumerate(self.attribute_names):
            X.loc[:,attribute] = self.encoder_dict[attribute].transform(X.loc[:,attribute])
#             X[attribute] = self.encoder_dict[attribute].transform(X[attribute])
        
        return X
#         return self.encoder.transform(X)

In [424]:
class Get_dummies(BaseEstimator, TransformerMixin):
    def __init__(self,attribute_names = categoric_column):
        self.attribute_names = attribute_names
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        return pd.get_dummies(X[self.attribute_names])

In [425]:
class Trans_dataframe(BaseEstimator, TransformerMixin):
    def __init__(self,attribute_names ):
        self.attribute_names = attribute_names
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        return pd.DataFrame(X, columns=self.attribute_names)

In [426]:
num_pipline = Pipeline([
    ('selector' , DataFrameSelector(numeric_column)),
      ('std_scaler', StandardScaler()),
    ("trand_df" , Trans_dataframe(numeric_column))
])

ordinary_pipline = Pipeline([
    ('selector' , DataFrameSelector(ordinal_column)),
    ('mm_scaler' , MinMaxScaler()),
    ("trand_df" , Trans_dataframe(ordinal_column))
])

binary_pipline = Pipeline([
    ('selector' , DataFrameSelector(binary_column)),
    ('L_binarizer', MyLabelBinarizer(binary_column)),
    ("trand_df" , Trans_dataframe(binary_column))
])

cat_pipline = Pipeline([
    ('selector', DataFrameSelector(categoric_column)),
    ('get_dummies', Get_dummies())
])

In [427]:
# from sklearn.pipeline import FeatureUnion

In [428]:
# full_pipline = FeatureUnion(transformer_list=[
#     ("num_pipline", num_pipline),
#     ("ordinary_pipline", ordinary_pipline),

# #     ("cat_pipline", cat_pipline),
# ])

In [429]:
def preprocessing_data(data=None, index=None, kind = None):
    if str(kind)=='train':
        
        
        train_prepared_id = pd.DataFrame(train_id)
        train_prepared_num = num_pipline.fit_transform(data)#.reindex(index)
        train_prepared_ord = ordinary_pipline.fit_transform(data)#.reindex(index)
        train_prepared_bin = binary_pipline.fit_transform(data)#.reindex(index)
        train_prepared_cat = cat_pipline.fit_transform(data)
        
        train_prepared = pd.concat([train_prepared_id,train_prepared_num,train_prepared_ord, 
                                    train_prepared_bin,train_prepared_cat], axis=1)
        
        return train_prepared
        
        
    elif str(kind) == 'test':
        
        test_prepared_id = pd.DataFrame(test_id)
        test_prepared_num = num_pipline.transform(data)#.reindex(index)
        test_prepared_ord = ordinary_pipline.transform(data)#.reindex(index)
        test_prepared_bin = binary_pipline.transform(data)#.reindex(index)
        test_prepared_cat = cat_pipline.transform(data)
        
        test_prepared = pd.concat([test_prepared_id,test_prepared_num,test_prepared_ord, 
                                   test_prepared_bin,test_prepared_cat], axis=1)
        
        return test_prepared
        
    elif str(kind)=='total':
        total_prepared_id = pd.DataFrame(total_id)
        total_prepared_num = num_pipline.fit_transform(data)#.reindex(index)
        total_prepared_ord = ordinary_pipline.fit_transform(data)#.reindex(index)
        total_prepared_bin = binary_pipline.fit_transform(data)#.reindex(index)
        total_prepared_cat = cat_pipline.fit_transform(data)
        
        total_prepared = pd.concat([total_prepared_id,total_prepared_num,total_prepared_ord, 
                                   total_prepared_bin,total_prepared_cat], axis=1)
        
        return total_prepared

In [430]:
train_prepared = preprocessing_data(train_set, index=train_index, kind='train')

In [431]:
test_prapred = preprocessing_data(test_set, index=test_index, kind='test')

In [433]:
test_prapred.head()

,ID,age,failures,absences,G1,G2,G3,score_average,traveltime,studytime,...,Fjob_other,Fjob_services,Fjob_teacher,reason_course,reason_home,reason_other,reason_reputation,guardian_father,guardian_mother,guardian_other
0,576,1.054379,-0.378483,0.560737,-0.750328,-0.397587,-0.107537,-0.410406,0.333333,0.000000,...,1,0,0,1,0,0,0,0,1,0
1,280,0.234634,-0.378483,4.034846,-1.085188,-1.007293,-0.888347,-1.032535,0.333333,0.000000,...,1,0,0,0,1,0,0,0,1,0
2,141,-0.585112,-0.378483,-0.702576,0.923974,0.516972,0.413003,0.626475,1.000000,0.333333,...,1,0,0,1,0,0,0,0,1,0
3,429,-0.585112,-0.378483,0.086995,-0.415467,-0.092734,-0.107537,-0.203030,0.000000,0.333333,...,1,0,0,0,1,0,0,0,1,0
4,249,-0.585112,-0.378483,-0.702576,0.254253,0.212119,0.152733,0.211722,0.333333,0.666667,...,1,0,0,0,0,0,1,0,1,0

In [438]:
train_set['alc_average'].describe()

count    835.000000
mean       1.730710
std        0.915307
min        1.000000
25%        1.000000
50%        1.285714
75%        2.285714
max        5.000000
Name: alc_average, dtype: float64

In [439]:
train_prepared = pd.concat([train_prepared,train_set['alc_average']], axis =1)
test_prapred = pd.concat([test_prapred,test_set['alc_average']], axis =1)

In [442]:
pd.to_pickle(train_prepared,path='./data/train_prepared_1')
pd.to_pickle(test_prapred,path='./data/test_prepared_1')